{% extends "user/base.html" %}

{% block title %}Sign Up{% endblock title %}

{% block url %}{% url 'signup' %}{% endblock url %}

{% block titleForm %}SIGN UP{% endblock titleForm %}

{% block fields %}
    <input type="text" name="firstName" placeholder="First name" required>
    <input type="text" name="lastName" placeholder="Last name" required>
    <input type="text" name="username" placeholder="Username" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirmationPassword" placeholder="Confirm your Password" required>
{% endblock fields %}

{% block textBtn %}Get Started!{% endblock textBtn %}

{% block extraFormContent %}
<p> Already have an account? <a href="{% url 'login' %}">Click here!</a> </p>
{% endblock extraFormContent %}
